proj2/src/__pycache__/editedKNN.cpython-312.pyc
proj2/src/__pycache__/evaluating.cpython-312.pyc
proj2/src/__pycache__/kMeans.cpython-312.pyc
proj2/src/__pycache__/preprocess.cpython-312.pyc
proj2/src/__pycache__/tenfoldcv.cpython-312.pyc
proj2/src/__pycache__/training.cpython-312.pyc
proj2/src/__pycache__/tuning.cpython-312.pyc
proj2/src/__pycache__/utils.cpython-312.pyc
proj3/src/__pycache__/evaluating.cpython-312.pyc
proj3/src/__pycache__/ffNN.cpython-312.pyc
proj3/src/__pycache__/nutuning.cpython-312.pyc
proj3/src/__pycache__/preprocess.cpython-312.pyc
proj3/src/__pycache__/tenfoldcv.cpython-312.pyc
proj3/src/__pycache__/tuning.cpython-312.pyc
proj3/src/__pycache__/utils.cpython-312.pyc
proj3/output/soybean.csv
